{%- liquid
	if customer
  	assign profile_link = routes.account_url
	else
  	assign profile_link = routes.account_login_url
	endif
-%}

<div class="thb-header-mobile-left">
	{% if collection.template_suffix == 'artist-profile' %}
		{%- if shop.customer_accounts_enabled -%}
			<a class="thb-secondary-area-item thb-secondary-myaccount" href="{{ profile_link | escape }}" title="{{ 'sections.header.my_account' | t }}">{%- render 'svg-icons' with 'myaccount' -%}</a>
		{%- endif -%}
	{% else %}
		{% render 'header-mobile-toggle', header_settings: header_settings, blocks: blocks %}
	{% endif %}
</div>

{% if header_settings.logo %}
	<a class="logolink" href="{{ routes.root_url }}">
		<img
			src="{{ header_settings.logo | image_url }}"
			class="logoimg"
			alt="{{ header_settings.logo.alt | default: shop.name | escape }}"
			width="{{ header_settings.logo.width }}"
			height="{{ header_settings.logo.height }}"
		>
		{%- liquid
			if header_settings.logo_light != blank
				assign light_logo = header_settings.logo_light
			else
				assign light_logo = header_settings.logo
			endif
		-%}
		<img
			src="{{ light_logo | image_url }}"
			class="logoimg logoimg--light"
			alt="{{ header_settings.logo.alt | default: shop.name | escape }}"
			width="{{ header_settings.logo.width }}"
			height="{{ section.settings.logo.height }}"
		>
	</a>
{% else %}
	<a class="logolink text-logo" href="{{ routes.root_url }}">
		{{ shop.name }}
	</a>
{% endif %}
{% render 'header-full-menu', menu: header_settings.menu, blocks: blocks %}
{% render 'header-secondary-area', header_settings: header_settings %}
