{% if product.template_suffix == "products_with_editor" or product.template_suffix == "products_collage" %}
	<script src="{{ shop.metafields.backend.editor_js.value }}" type="module"></script>
	<link rel="stylesheet" href="{{ shop.metafields.backend.editor_css.value }}" />
	{{ 'editor.css' | asset_url | stylesheet_tag }}
{% endif %}
<div class="quantity__add_to_cart_btn_wrap" {{ block.shopify_attributes }}>
	{%- if product != blank -%}
	{%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
  -%}
  <product-form
  	class="product-form"
  	data-section="{{ section.id }}"
	data-product-handle="{{ product.handle }}"
  	data-hide-errors="{{ gift_card_recipient_feature_active }}"
  	data-template-suffix="{{ product.template_suffix }}"
  	data-editor-flow="{% if product.template_suffix == "products_with_editor" or product.template_suffix == "products_collage" %}true{% else %}false{% endif %}"
  	data-frame-count="{{ product.metafields.backend.frame_count.value | default : 1 }}"
  	id="{{ product_form_id }}--product-form-element"
  	data-default-variant-id={{ product.selected_or_first_available_variant.id }}
  >
  	<script type="application/json" data-pre-select-template style="display: none;">{
  		{%- for variant in product.variants -%}
  			"{{ variant.id | json }}": {{- variant.metafields.backend.preselect_template_id | default: "null" -}}{%- unless forloop.last -%},{%- endunless -%}
  		{%- endfor -%}
  	}</script>
  	<script type="application/json" data-template_ids style="display: none;">{
  		{%- for variant in product.variants -%}
  			"{{ variant.id | json }}": {{- variant.metafields.backend.template_ids | default: "[]" -}}{%- unless forloop.last -%},{%- endunless -%}
  		{%- endfor -%}
  	}</script>
  	<script type="application/json" data-super-imposed-images style="display: none;">{
  		{%- for variant in product.variants -%}
  			"{{ variant.id | json }}": [
  				{%- for live_preview in variant.metafields.backend.live_preview.value -%}
  					{{ live_preview | json }}{%- unless forloop.last -%},{%- endunless -%}
  				{%- endfor -%}
  			]{%- unless forloop.last -%},{%- endunless -%}
  		{%- endfor -%}
  	}</script>
  	<script type="application/json" data-options style="display: none;">{{- product.options_with_values | json -}}</script>
		<div class="product-form__error-message-wrapper form-notification error" role="alert" hidden>
      {% render 'svg-icons' with 'thb-error' %}
      <span class="product-form__error-message"></span>
    </div>
		{%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
			<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
			{%- if gift_card_recipient_feature_active -%}
				{%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
			{%- endif -%}
			<div class="product-add-to-cart-container">
				{%- if product.selected_or_first_available_variant.available -%}

				{%- endif -%}
				<div class="form-notification error" style="display:none;"></div>
				<div class="add_to_cart_holder{% if show_dynamic_checkout %} add_to_cart_holder--multi{%- endif -%}">
					<button type="submit" name="add" id="AddToCart" class="single-add-to-cart-button button accent {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %}" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
						<span class="single-add-to-cart-button--text">
							{%- if product.selected_or_first_available_variant.available -%}
								{% if product.template_suffix == "products_with_editor" or product.template_suffix == "products_collage" %}
									Customize design
								{% else %}
									{{ 'products.product.add_to_cart' | t }}
								{% endif %}
							{%- else -%}
								{{ 'products.product.sold_out' | t }}
							{%- endif -%}
						</span>
						<span class="loading-overlay">
							{% render 'svg-icons' with 'thb-loading' %}
						</span>
					</button>
					{%- if show_dynamic_checkout -%}
						{{ form | payment_button }}
					{%- endif -%}
				</div>
			</div>
		{%- endform -%}
	</product-form>
	{%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="single_add_to_cart_button button sold-out"
          disabled
        >
          <span class="single-add-to-cart-button--text">{{ 'products.product.sold_out' | t }}</span>
        </button>
      </div>
    </div>
  {%- endif -%}
</div>
{%- if pickup -%}
{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
<pickup-availability
	class="pickup-availability-wrapper"
	{% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}available{% endif %}
  data-root-url="{{ routes.root_url }}"
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
  data-has-only-default-variant="{{ product.has_only_default_variant }}"
>
	{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
	{%- if pick_up_availabilities.size > 0 -%}
		{% render 'product-pickup-availability', pick_up_availabilities: pick_up_availabilities %}
	{% endif %}
</pickup-availability>
<script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
