
{{- 'about.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign full_width = section.settings.full_width
	assign image = section.settings.image
    assign mobile_image = section.settings.mobile_image
	assign height = section.settings.height
	assign content_position = section.settings.content_position
	assign column_spacing = section.settings.column_spacing
	assign desktop_layout = section.settings.layout
	assign color_bg = section.settings.color_bg
	assign color_text = section.settings.color_text
	assign color_border = section.settings.color_border
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
	assign mobile_image_width = section.settings.mobile_image_width

	assign ratio = 1
	if height == 'adapt' and image != blank
		assign ratio = image.aspect_ratio
	endif

	assign text_color = section.settings.text_color
	assign desktop_height = section.settings.desktop_height
	assign text_alignment = section.settings.text_alignment
	assign content_width = section.settings.content_width
	assign overlay_color = section.settings.overlay_color
	assign overlay_opacity = section.settings.overlay_opacity
-%}

{%- style -%}
	{% if mobile_image_width == 'landscape' %}
	@media only screen and (max-width: 991px) {
		.image-with-text--image-media_about {
			--ratio-percent: 50% !important;
		}
	}
	@media only screen and (min-width: 550px) and (max-width: 990px) {
		.image-with-text--image-media_about {
			--ratio-percent: 30% !important;
		}
	}
	{% endif %}
{%- endstyle -%}

<div class="row{% if full_width %} full-width-row{% endif %}">
	<div class="small-12 columns">
		<image-with-text-overlay class="image-with-text-overlay desktop image-with-text-overlay--full-width-{{ full_width }} text-{{ text_alignment }} {{ desktop_height }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}" style="--text-color: {{ text_color }}; --overlay-color-rgb: {{ overlay_color.rgb | replace: ' ' , ',' }}; --overlay-opacity: {{ overlay_opacity | divided_by: 100.0 }}">
			<div class="image-with-text-overlay--bg">
				{% if image %}
					{%- liquid
						assign small_width = image.src.height | times: '375' | divided_by: image.src.width
						assign master_width = image.src.width | append: 'x' | append: image.src.height
						assign width = '375x' | append: small_width | append: ',' | append: master_width

						if mobile_image
							assign class = class | append: ' image-with-text-overlay--desktop'
						endif
					-%}
					{%- render 'responsive-image', image: image, sizes: width, class: class -%}
				{% else %}
					{{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder_svg_tag' }}
				{% endif %}
				{%- if mobile_image -%}
					{%- liquid
						assign image = mobile_image
						assign master_width = image.src.width | append: 'x' | append: image.src.height
						assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width

						assign class = class | append: ' image-with-text-overlay--mobile'
						render 'responsive-image', image: image, sizes: width, class: class
					-%}
				{%- endif -%}
			</div>

			<div class="image-with-text-overlay--content">
				<div class="image-with-text-overlay--content-inner content-width-{{ content_width }}">
					{% for block in section.blocks %}
						{%- case block.type -%}
							{%- when 'badge' -%}
								<div>
									<span class="inline-badge" style="--badge-bg: {{ block.settings.color_bg }};--badge-text: {{ block.settings.color_text }}">{{ block.settings.text }}</span>
								</div>
							{%- when 'subheading' -%}
								<p class="subheading" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
							{%- when 'heading' -%}
								<h3 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.text | newline_to_br }}</h3>
							{%- when 'text' -%}
								<div class="rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
							{%- when 'button' -%}
								{% if block.settings.button_text != blank %}
									<a class="button {{ block.settings.button_color }}" href="{{ block.settings.button_link }}" role="button" title="{{ block.settings.button_text | escape }}" {{ block.shopify_attributes }}>{{ block.settings.button_text }}</a>
								{% endif %}
							{% when 'space' %}
		            <div style="height: {{ block.settings.height | append: 'px' }}" {{ block.shopify_attributes }}></div>
						{%- endcase -%}
					{% endfor %}
				</div>
			</div>
		</image-with-text-overlay>

        <div class="image-with-text--conatiner mobile">
            <div class="image-with-text_about column-spacing--{{ column_spacing }} {{ desktop_layout }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}" style="--color-bg:{{ color_bg }};--color-text:{{ color_text }};--color-text-rgb: {{ color_text.rgb | replace: ' ' , ',' }}; --solid-button-background: {{ color_text }}; --solid-button-background-hover: {{ color_text | color_darken: 7 }}; --solid-button-label: {{ color_bg }};--bg-body: {{ color_bg }};--color-border: {{ color_border }}">
                <div class="image-with-text--image_about image-with-text--inner">
                    <div class="image-with-text--image-media_about aspect-ratio aspect-ratio--{{ height }}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
                        {%- if image != blank -%}
                            {%- liquid
                                assign small_height = image.src.height | times: '690' | divided_by: image.src.width
                                assign mid_height = image.src.height | times: '1280' | divided_by: image.src.width
                                assign master_width = image.src.width | append: 'x' | append: image.src.height
                                assign width = '690x' | append: small_height | append: ',' | append: '1280x' | append: mid_height | append: ',' | append: master_width

                                render 'responsive-image', image: image, sizes: width
                            -%}
                            <div class="mobile_image">
                                {%- liquid
                                    assign small_height = image.src.height | times: '690' | divided_by: image.src.width
                                    assign mid_height = image.src.height | times: '1280' | divided_by: image.src.width
                                    assign master_width = image.src.width | append: 'x' | append: image.src.height
                                    assign width = '690x' | append: small_height | append: ',' | append: '1280x' | append: mid_height | append: ',' | append: master_width
    
                                    render 'responsive-image', image: mobile_image, sizes: width
                                -%}
                            </div>
                        {%- else -%}
                            {{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
                        {%- endif -%}
                    </div>
                </div>
                <div class="image-with-text--content_about image-with-text--inner">
                    <div class="image-with-text--content--inner_about">
                        {%- for block in section.blocks -%}
                            {%- case block.type -%}
                                {%- when 'image' -%}
                                    <div class="image-with-text--content--image" {{ block.shopify_attributes }}>
                                        {%- if block.settings.image != blank -%}
                                            {% assign image = block.settings.image %}
                                            {% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
                                            {%- render 'responsive-image', image: image, sizes: master_width, retina: true -%}
                                        {%- else -%}
                                            {{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
                                        {%- endif -%}
                                    </div>
                                {%- when 'subheading' -%}
                                    <p class="subheading" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
                                {%- when 'heading' -%}
                                {%- liquid
                                    assign marker_style = block.settings.marker_style
                                    assign marker_color = block.settings.marker_color
                                    assign text = block.settings.text | newline_to_br
                                -%}
                                    <h3 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{% render 'animated-marker-heading', heading: text, style: marker_style, color: marker_color %}</h3>
                                {%- when 'text' -%}
                                    <div class="rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                                {%- when 'button' -%}
                                    {% if block.settings.button_text != blank %}
                                        <a class="button" href="{{ block.settings.button_link }}" role="button" title="{{ block.settings.button_text | escape }}" {{ block.shopify_attributes }}><span>{{ block.settings.button_text }}</span></a>
                                    {% endif %}
                                {% when 'space' %}
                        			<div style="height: {{ block.settings.height | append: 'px' }}" {{ block.shopify_attributes }}></div>
                            {%- endcase -%}
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<script src="{{ 'image-with-text-overlay.js' | asset_url }}" defer="defer"></script>
{% schema %}
  {
    "name": "About Section",
    "settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Desktop Image",
				"info": "1340 x 1340 .jpg recommended."
			},
            {
                "type": "image_picker",
                "id": "mobile_image",
                "label": "Mobile Image"
            },
			{
				"type": "header",
				"content": "Desktop - Image with Text Overlay"
			},
			{
				"type": "select",
				"id": "text_alignment",
				"options": [
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					},
					{
						"value": "right",
						"label": "Right"
					}
				],
				"default": "center",
				"label": "Content alignment"
			},
			{
				"type": "select",
				"id": "desktop_height",
				"label": "Desktop height",
				"options": [
					{
						"value": "desktop-height-450",
						"label": "450px"
					},
					{
						"value": "desktop-height-550",
						"label": "550px"
					},
					{
						"value": "desktop-height-650",
						"label": "650px"
					},
					{
						"value": "desktop-height-750",
						"label": "750px"
					},
					{
						"value": "desktop-height-full",
						"label": "Full screen"
					}
				],
				"default": "desktop-height-650"
			},
			{
				"type": "select",
				"id": "content_width",
				"label": "Content width",
				"options": [
					{
						"value": "small",
						"label": "Small"
					},
					{
						"value": "medium",
						"label": "Medium"
					},
					{
						"value": "large",
						"label": "Large"
					},
					{
						"value": "full",
						"label": "Full"
					}
				],
				"default": "medium"
			},
			{
				"type": "color",
				"id": "text_color",
				"label": "Text",
				"default": "#FFFFFF"
			},
			{
				"type": "color",
				"id": "overlay_color",
				"label": "Overlay",
				"default": "#000000"
			},
			{
				"type": "range",
				"id": "overlay_opacity",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "%",
				"label": "Overlay opacity",
				"default": 30
			},
			{
				"type": "header",
				"content": "Mobile - Image with Text"
			},
			{
                "type": "select",
                "id": "height",
                "options": [
                {
                    "value": "adapt",
                    "label": "Adapt to image"
                },
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ],
                "default": "adapt",
                "label": "Image height"
            },
			{
                "type": "select",
                "id": "mobile_image_width",
                "options": [
                {
                    "value": "adapt",
                    "label": "Adapt to image"
                },
                {
                    "value": "landscape",
                    "label": "Landscape"
                }
            ],
                "default": "adapt",
                "label": "Mobile Image width"
            },
			{
				"type": "checkbox",
				"id": "full_width",
				"label": "Make section full width",
				"default": false
			},
			{
                "type": "select",
                "id": "layout",
                "options": [
                    {
                        "value": "image_first",
                        "label": "Image first"
                    },
                    {
                        "value": "text_first",
                        "label": "Image second"
                    }
                ],
                "default": "image_first",
                "label": "Desktop image placement",
                "info": "Image first is the default mobile layout."
            },
			{
				 "type": "select",
				 "id": "content_position",
				 "label": "Desktop content alignment",
				 "options": [
					 { "value": "text-center", "label": "Center" },
					 { "value": "text-left", "label": "Left" },
					 { "value": "text-right", "label": "Right" }
				 ],
				 "default": "text-left"
			},
			{
                "type": "select",
                "id": "column_spacing",
                "options": [
                    {
                        "value": "small",
                        "label": "Small"
                    },
                            {
                        "value": "medium",
                        "label": "Medium"
                    },
                    {
                        "value": "large",
                        "label": "Large"
                    },
                    {
                        "value": "no",
                        "label": "No"
                    }
                ],
                "default": "no",
                "label": "Column spacing"
	        },
			{
                "type": "header",
                "content": "Colors"
            },
			{
                "type": "color",
                "id": "color_bg",
                "label": "Background",
                "default": "#ffffff"
            },
			{
                "type": "color",
                "id": "color_text",
                "label": "Text",
                "default": "#2c2d2e"
            },
			{
                "type": "color",
                "id": "color_border",
                "label": "Borders",
                "default": "#e2e2e2"
            },
			{
				"type": "header",
				"content": "Spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
        ],
        "blocks": [
			{
				"type": "image",
				"name": "Image",
				"limit": 1,
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					}
				]
			},
			{
				"type": "subheading",
				"name": "Subheading",
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Add a tagline"
					}
				]
			},
			{
				"type": "heading",
				"name": "Heading",
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Image with text",
						"info": "Wrap your text between | to add animated markers. For example: Animated |marker| will underline marker text."
					},
					{
						"type": "select",
						"id": "marker_style",
						"options": [
							{
								"value": "style1",
								"label": "Basic"
							},
							{
								"value": "style2",
								"label": "Double"
							},
							{
								"value": "style3",
								"label": "Squiggle"
							},
							{
								"value": "style4",
								"label": "Zigzag"
							}
						],
						"default": "style1",
						"label": "Marker"
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Size",
						"options": [
							{
								"value": "h1",
								"label": "Extra Large"
							},
							{
								"value": "h2",
								"label": "Large"
							},
							{
								"value": "h3",
								"label": "Medium"
							},
							{
								"value": "h4",
								"label": "Small"
							}
						],
						"default": "h3"
					},
					{
			      "type": "header",
			      "content": "Colors"
			    },
					{
						"type": "color",
						"id": "marker_color",
						"label": "Marker",
						"default": "#FD6262"
					}
				]
			},
			{
                "type": "text",
                "name": "Text",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Content",
                        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
                    }
                ]
            },
			{
                "type": "button",
                "name": "Button",
                "settings": [
					{
						"id": "button_text",
						"type": "text",
						"label": "Button label",
						"default": "Shop Now",
						"info": "Leave the label blank to hide the button."
					},
					{
						"id": "button_link",
						"type": "url",
						"label": "Button link"
					}
                ]
            },
            {
                "type": "space",
                "name": "Empty space",
                "settings": [
                {
                    "type": "range",
                    "id": "height",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Height",
                    "default": 50
                }
                ]
            },
			{
				"type": "collapsible_tab",
				"name": "Collapsible row",
				"settings": [
						{
						"type": "text",
						"id": "heading",
						"default": "Collapsible row",
						"info": "Include a heading that explains the content.",
						"label": "Heading"
					},
					{
						"type": "checkbox",
						"id": "open",
						"default": false,
						"label": "Open by default"
					},
					{
						"type": "richtext",
						"id": "content",
						"label": "Row content"
					},
					{
						"type": "page",
						"id": "page",
						"label": "Row content from page"
					}
				]
			}
        ],
        "presets": [
        {
            "name": "About Section",
            "blocks": [
                {
                    "type": "subheading"
                },
                {
                    "type": "heading"
                },
                {
                    "type": "text"
                }
            ]
        }
    ]
  }
{% endschema %}
