{{- 'artist-directory.css' | asset_url | stylesheet_tag -}}

{%- liquid
  assign section_heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign columns_desktop = section.settings.columns_desktop
  assign collection_list_pagination_num = section.settings.collection_list_pagination_num
  assign style = section.settings.style
  assign heading_position = section.settings.heading_position

  assign products_count = section.settings.products_count
  assign pagination_type = section.settings.pagination_type
-%}

<div class="row main-collection artist-collection-grid">
  <div class="small-12 columns">
    {%- if section_heading != blank -%}
      <div class="section-header">
        <div class="section-header--content">
          {%- if section_heading -%}
            <h1 class="section-header--title">
              {% render 'animated-marker-heading', heading: section_heading, style: marker_style %}
            </h1>
          {%- endif -%}
        </div>
      </div>
    {% endif %}
    {%- paginate collections by collection_list_pagination_num -%}
      <div class="collection-container section-spacing-bottom">
        <div id="ProductGridContainer">
          <div class="sidebar-container results--{{ collections.size }}">
            <div>
              <ul
                id="product-grid"
                data-id="{{ section.id }}"
                class="products collection row small-up-2 medium-up-{{ columns_desktop }} pagination--{{ pagination_type }}{% if collection.products.size == 0 %} collection--empty{%- endif -%}"
              >
                {% for collection in collections %}
                  <li class="column">
                    {% render 'collection-card',
                      grid_collection: collection,
                      media_aspect_ratio: section.settings.image_ratio,
                      style: style,
                      index: forloop.index,
                      columns_desktop: columns_desktop,
                      heading_position: heading_position,
                      heading_size: heading_size,
                      products_count: products_count
                    %}
                  </li>
                {%- endfor -%}
              </ul>
              {% render 'pagination', paginate: paginate, pagination_type: pagination_type, id: section.id %}
            </div>
          </div>
        </div>
      </div>
    {%- endpaginate -%}
  </div>
</div>
{% schema %}
{
  "name": "Artist Directory list",
  "class": "directory-collection-list-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Shop by category"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small",
      "label": "Collection heading size"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "options": [
        {
          "value": "paginated",
          "label": "Paginated"
        },
        {
          "value": "loadmore",
          "label": "Click to load"
        },
        {
          "value": "infinite",
          "label": "Infinite"
        }
      ],
      "default": "paginated",
      "label": "Pagination",
      "info": "Choose how additional pages of products are navigated."
    },
    {
      "type": "checkbox",
      "id": "products_count",
      "default": false,
      "label": "Show product count"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "square",
      "label": "Image ratio",
      "info": "Add images by editing your collections. [Learn more](https://help.shopify.com/en/manual/products/collections)"
    },
    {
      "type": "select",
      "id": "style",
      "options": [
        {
          "value": "style1",
          "label": "Underneath image"
        },
        {
          "value": "style2",
          "label": "Over image"
        }
      ],
      "default": "style1",
      "label": "Style"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "Number of columns on desktop"
    },
    {
      "type": "range",
      "id": "collection_list_pagination_num",
      "min": 2,
      "max": 30,
      "step": 1,
      "label": "Collections per page",
      "default": 9
    },
    {
      "type": "header",
      "content": "Over image"
    },
    {
      "type": "select",
      "id": "heading_position",
      "label": "Heading position",
      "options": [
        { "value": "top-left", "label": "Top left" },
        { "value": "top-center", "label": "Top center" },
        { "value": "top-right", "label": "Top right" },
        { "value": "middle-left", "label": "Middle left" },
        { "value": "middle-center", "label": "Middle center" },
        { "value": "middle-right", "label": "Middle right" },
        { "value": "bottom-left", "label": "Bottom left" },
        { "value": "bottom-center", "label": "Bottom center" },
        { "value": "bottom-right", "label": "Bottom right" }
      ],
      "default": "bottom-center"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#2C2D2E"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "transparent"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 30
    }
  ]
}
{% endschema %}
